numpy>=1.26.4,<2.0.0
opencv-python-headless
tqdm
jdeskew
pycocotools
tabulate
matplotlib
scipy
doclayout_yolo
huggingface_hub<1.0
dill
surya-ocr
transformers
einops
pydantic
pydantic-settings
platformdirs
filetype
python-dotenv
pypdfium2
timm
streamlit
sentence-transformers
openai-whisper
pyannote.audio==3.3.2
pandas<3
pillow<11
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
